{% extends "base.html" %}

{% block head %}<title>Profile - Menu Generator</title>{% endblock %}

{% block body %}
<div class="container">
    <main class="main-content">
    <div class="form-box" style="margin-top: 50px; text-align: center;">
        <h2>Welcome!</h2>
        <p>Add more information for us to know you better</p>
        
        <form action="/save-profile" method="POST">
            <div class="profile-form-container">
                <div class="form-group">
                    <label for="country">Country</label>
                    <select id="country" name="country" class="custom-input">
                        <option value="uk">United Kingdom</option>
                        <option value="usa">United States</option>
                        <option value="other">Other</option>
                    </select>
                </div>

                <div class="form-group inline-group">
                    <label for="birthday">Birthday:</label>
                    <input type="date" id="birthday" name="birthday" class="custom-input date-input" required>
                </div>

                <div class="form-group">
                    <label for="gender">Gender</label>
                    <select id="gender" name="gender" class="custom-input">
                        <option value="non-binary">Non-binary</option>
                        <option value="female">Female</option>
                        <option value="male">Male</option>
                    </select>
                </div>
            </div>
            
            <button type="submit" class="submit-btn" style="width:100%; margin-bottom: 10px;">Save</button>
        </form> <a href="{{ url_for('preferences') }}" style="color:var(--text-pink); font-size: 0.9em;">Go to preferences</a>
        </div>
        </main>
    </div>
{% endblock %}