{% extends "base.html" %}
{% block head %}<title>Sign Up - Menu Generator</title>{% endblock %}  
{% block body %}
<div class="container">
    <div class="form-box" style="margin-top: 50px;">
        <h2 style="text-align: center;">Create new account</h2>
        <p style="text-align: center; font-size: 0.8em;">or <a href="{{ url_for('signin') }}" style="color:var(--text-pink)">sign in</a></p>
        
        <form action="{{ url_for('signup') }}" method="POST">
            <input type="text" class="input-field" name="user_name" placeholder="User Name" required>
            <input type="email" class="input-field" name="email" placeholder="Email Address" required>
            <input type="password" class="input-field" name="password" placeholder="Password" required>
            <input type="password" class="input-field" name="confirm_password" placeholder="Confirm Password" required>
            <button type="submit" class="submit-btn" style="width:100%">Submit</button>
        </form>
    </div>
    </div>
{% endblock %}