<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daily Menu</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <header>
        <div class="logo-section">
            <div class="icon">🍳</div>
            <span>Menu Generator</span>
        </div>
        <div class="header-profile"><a href="signup.html" style="color:var(--text-pink);">Sign up </a> 
                                    <a href="signin.html" style="color:var(--text-pink);">Log in </a> 
                                    <a href="profile.html" style="color:var(--text-pink);">Profile</a></div>
    </header>

    <div class="app-container">
        <div class="sidebar">
            <a href="menu.html" class="nav-btn">My Daily Menu</a>
            <a href="preferences.html" class="nav-btn">Preferences</a>
            <a href="#" class="nav-btn">Explore</a>
            <a href="#" class="nav-btn">Statistics</a>
            <a href="profile.html" class="nav-btn">Profile</a>
            <a href="signin.html" style="color:var(--text-pink); text-align:center;">Sign in</a>
        </div>

    <main class="main-content">
    <div class="form-box" style="margin-top: 50px;">
        <h2 style="text-align: center;">Create new account</h2>
        <p style="text-align: center; font-size: 0.8em;">or <a href="signin.html" style="color:var(--text-pink)">sign in</a></p>
        
        <form>
            <input type="text" class="input-field" placeholder="User Name">
            <input type="email" class="input-field" placeholder="Email Address">
            <input type="password" class="input-field" placeholder="Password">
            <input type="password" class="input-field" placeholder="Confirm Password">
            <button type="submit" class="submit-btn" style="width:100%">Submit</button>
        </form>
    </div>
    </main>
    </div>
</body>
</html>